body {
    font-family: Arial, sans-serif;
    background-color: #bebebe;
    color: #007bff;
}

header{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header #logo{
    font-size: 26px;
    font-weight: bolder;
    color: #007bff;
    margin-left: 15px;
}

header nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header nav a {
    margin-right: 15px;
    font-weight: 600;
    text-decoration: none;
    color: #007bff;
}

header nav a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    color: #007bff;
    bottom: 0;
    width: 100%;
}