#home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

#home-titulo{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
}

#home-button-login{
    display: block;
    margin: 30px auto;
    padding: 15px 30px;
    font-size: 18px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    width: 200px;
}
#home-button-login:hover{
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}